
.jumbotron{
    padding-top: 6rem  ;
    background-color: #6a994e;
}

#galeri{
    background-color: #6a994e;
}

footer{
    background-color: #6a994e;
}
section{
    padding-top: 5rem;;
}