---
---
<section class="flex flex-col items-center text-center mb-xl">
  <div class="w-24 h-24 rounded-full overflow-hidden mb-6 border-2 border-white/10 p-1">
    <img 
      alt="Aji Tirto Prayogo" 
      class="w-full h-full object-cover rounded-full" 
      src="https://lh3.googleusercontent.com/aida-public/AB6AXuArkQSVHqunQv1Id6sln330yeg88-pGK6xe2c1C823_Ay5xSmyIX4BooCMMR5paBXqXvBtuhg8zRopkPCO0RvrQ2ZAtOCIB58hPXyEdmRTUmDuuhux_cXBQq3N43hB5DWghS9UWlnEHv6c7Ng1JvhRBOLel77C4NMe2iWH6IqNoT7KOn5ZtX1HTj5gPZvuFy-1qph0MhcZy409WI1Kw5H5DVTz8IkvdKjXmrdnclvwoo1YkfS4I3PbOVcIp0rBpLTYqsZmNKxEBbtc3"
    />
  </div>
  <h1 class="font-display text-display text-white mb-4">Aji Tirto Prayogo</h1>
  <p class="font-body-lg text-white/60 max-w-2xl">
    Full stack, devops enthusiast, software engineer. <br/>
    Crafting scalable digital solutions with surgical precision and a focus on architectural integrity.
  </p>
</section>
